[submodule "scripts/verifier/alive"]
	path = scripts/verifier/alive
	url = https://github.com/AliveToolkit/alive2.git
[submodule "scripts/verifier/llvm"]
	path = scripts/verifier/llvm
	url = git@github.com:llvm/llvm-project.git
